/* styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: azure;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #403d3d;
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto; /* Pushes the logo to the left */
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a,
.nav-links button {
    margin-left: 20px; /* Add margin to create space between elements */
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition effect */
}

.nav-links button:hover {
    background-color: #777; /* Change background color on hover */
}

/* Home Container */
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

/* Template Container */
.template-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.template-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}

.template:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}

.template img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Owner Container */
.owner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.owner {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}

.owner:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}

.owner h2 {
    margin-bottom: 10px;
}

.cattle-list {
    display: flex;
    flex-direction: column;
}

.cattle-info {
    margin-bottom: 10px;
}

.cattle-info h3 {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.cattle-info p {
    margin-bottom: 3px;
    font-size: 0.9rem;
}
